/**
 * Imports 
 *
 * Fonts: 'Open Sans'
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800');
/**
 * General classes 
 *
 * Here are some general styles that may be used on multiple parts of this site
 * Or styles that affect the entire app
 */

body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.extra-bold {
    font-weight: 800;
}

.white {
    color: #fff;
}

.yellow {
    color: #f99d1c;
}

.yellow-bg {
    background-color: #f99d1c;
}

.blue-bg {
    background-color: #1e77a6;
}

/**
 * Top menu styles 
 */

.brand-logo {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

/**
 * content styles 
 */

.gray-card {
    border-radius: .2rem;
    background-color: #ebebeb;
}

.white-card {
    border: solid .08rem #d4d4d4;
    border-radius: .2rem;
    background-color: #fff;
}

.blue-badge {
    background: url('../img/ellipseBlue.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: red;
}

/**
 * 00
 */